.header {
  position: relative;
}

.container {
  position: relative;

  min-height: 1550px;

  background-image: url('../../images/header-nav.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.authorization_box {
  padding-top: 20px;
  margin-bottom: 260px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 35px;
}

.sign_in {
  padding: 20px 40px;
  background: #5d6afb;
  border-radius: 8px;
  text-decoration: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 152%;
  color: #ffffff;
  border: 2px solid transparent;
  transition: all 0.2s linear;
}

.sign_in:hover {
  background: #5d6afb00;
  border-color: #5d6afb;
  box-sizing: border-box;
  transition: all 0.2s linear;
}

.sign_up {
  margin-right: 115px;

  composes: sign_in;
}

.logo {
  object-fit: contain;
  margin-left: 30px;
}

.title {
  margin: 100px 0 0 0;
  padding-left: 105px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 54px;
  line-height: 66px;
  color: #ffffff;
}

.form_container {
  margin-top: -950px;

  background-image: url('../../images/header-form.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  min-height: 2040px;
}

.form {
  position: absolute;
  bottom: 145px;
  right: 40px;
  z-index: 1;
  height: 893px;
  margin: 0 0 0 auto;

  max-width: 770px;
  width: 100%;
  background: rgba(89, 38, 234, 0.8);
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 80px;

  transform: translateY(-50%);
}

.form_title {
  width: 100%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 152%;
  text-align: center;
  color: #ffffff;
  margin-top: 80px;
  margin-bottom: 30px;
}

.input {
  font-family: Montserrat;
  max-width: 690px;
  width: 100%;
  height: 97px;
  background: #fffafa;
  box-sizing: border-box;
  border-radius: 13px;
  margin-bottom: 60px;
  padding-top: 30px;
  padding-bottom: 32px;
  padding-left: 85px;
  margin-left: 40px;
  margin-right: 40px;
  background-repeat: no-repeat;
  background-position: 50px center;
  background-size: 28px 28px;
  border: none;
  outline: none;
  font-size: 25px;
}

.input:first-of-type {
  background-size: 27px 27px;
  background-image: url(../../images/input_name-icon.svg);
}

.input:nth-of-type(2) {
  background-image: url(../../images/input_number-icon.svg);
}

.input:last-of-type {
  background-image: url(../../images/input_email-icon.svg);
}

.form_button {
  margin: 0 auto;
  max-width: 690px;
  width: 100%;
  height: 97px;
  background: #d43355;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 48.5px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 133%;
  text-align: center;
  color: #ffffff;
  margin-bottom: 30px;
  margin-left: 40px;
  margin-right: 40px;
  cursor: pointer;
  transition: all 0.2s linear;
}

.form_button:hover {
  border: 3px solid #d43355;
  background: #d4335600;
  transition: all 0.2s linear;
}

@media all and (max-width: 768px) {
  .header {
    width: 100%;
    min-height: auto;
    height: 100%;
    background: none;
    margin-bottom: 40px;
    align-items: center;
  }
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 85px 1fr;
    row-gap: 40px;
    justify-items: center;
    align-items: center;
    background-image: url(../../images/header_image_mobile.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .sign_in {
    border: none;
    background-color: rgba(255, 255, 255, 0);
    padding: 5px 18px;
    font-weight: 500;
    font-size: 16px;
    line-height: 152%;
  }
  .sign_in:hover {
    background: rgba(212, 51, 85, 0.89);
    border-radius: 7px;
  }
  .sign_up {
    composes: sign_in;
  }
  .logo {
    width: 160px;
    height: 70px;
    margin-top: 15px;
    margin-left: 15px;
  }
  .authorization_box {
    width: 100%;
    grid-row: 1/1;
    justify-self: flex-start;
    margin: 0;
  }
  .links {
    gap: 10px;
  }
  .form {
    width: 300px;
    position: relative;
    right: 0;
    top: 0;
    border-radius: 31px;
    margin-left: 50px;
  }
  .input {
    width: 280px;
    height: 20px;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
    margin-bottom: 20px;
    height: 36px;
  }
  .form_button {
    width: 280px;
    height: 30px;
    font-size: 20px;
    line-height: 133%;
  }
  .form_title {
    margin-top: 30px;
    font-size: 20px;
    line-height: 152%;
    width: 280px;
  }
  .form_container {
    margin-top: 16px;
    width: 100%;
    background-image: url(../../images/form_iamge.png);
    background-repeat: no-repeat;
    background-size: 325px 344px;
    background-position: 90%;
  }
}

@media all and (max-width: 726px) {
  .form_container {
    background-size: 250px 300px;
  }
}

@media all and (max-width: 650px) {
  .form_container {
    background-size: 200px 300px;
  }
}

@media all and (max-width: 600px) {
  .form_container {
    display: flex;
    justify-content: center;
    background-size: 200px 180px;
    background-position: center bottom;
    padding-bottom: 190px;
  }
  .form {
    width: 300px;
    position: relative;
    right: 0;
    top: 0;
    border-radius: 31px;
    margin-left: 0;
  }
}

@media all and (max-width: 425px) {
  .header {
    margin-bottom: 17px;
  }
  .container {
    grid-template-rows: 1fr;
    row-gap: 16px;
    align-items: baseline;
    background-image: url(../../images/header_mobile-back.png);
    background-size: cover;
  }
  .sign_in {
    font-size: 12px;
  }
  .sign_in:hover {
    background: rgba(212, 51, 85, 0.89);
    border-radius: 7px;
  }
  .sign_up {
    composes: sign_in;
  }
  .logo {
    width: 110px;
    height: 50px;
    margin-top: 4px;
    margin-left: 15px;
  }
  .authorization_box {
    min-height: auto;
    height: 100%;
    justify-content: center;
    align-items: center;
    align-self: baseline;
  }
  .links {
    display: flex;
    gap: 7px;
    align-items: baseline;
    justify-content: center;
    margin-top: 0;
  }
  .form {
    width: 300px;
    position: relative;
    right: 0;
    top: 0;
    border-radius: 31px;
    margin-left: 0;
  }
  .input {
    width: 280px;
    height: 20px;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
    margin-bottom: 20px;
    height: 36px;
  }
  .form_button {
    width: 280px;
    height: 30px;
    font-size: 20px;
    line-height: 133%;
  }
  .form_title {
    margin-top: 30px;
    font-size: 20px;
    line-height: 152%;
    width: 280px;
  }
  .form_container {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    width: 100%;
    background-image: url(../../images/form_iamge.png);
    background-repeat: no-repeat;
    background-size: 200px 180px;
    background-position: center bottom;
    padding-bottom: 190px;
  }
}
