.tabs {
  padding: 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab {
  -webkit-appearance: none;
  width: 301px;
  height: 68px;
  background: #5926ea;
  border: 2px solid transparent;
  border-radius: 34px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 152%;
  text-align: center;
  color: #ffffff;
  padding: 0;
  outline: none;
  cursor: pointer;
  margin-right: 15px;
  transition: all 0.2s linear;
}

.tab_active {
  background: #5a26ea00;
  border-width: 2px;
  border-style: solid;
  border-color: #5926ea;
  pointer-events: none;
  cursor: default;
}

.tab:hover {
  background: #5a26ea00;
  border-color: #5926ea;
  transition: all 0.2s linear;
}

.tab:last-of-type {
  margin-right: 0;
}

.tab:focus {
  background: #5a26ea00;
  border-width: 2px;
  border-style: solid;
  border-color: #5926ea;
}

@media all and (max-width: 768px) {
  .tabs {
    grid-column: 1/1;
    grid-row: 2/2;
    flex-direction: column;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    margin-bottom: 40px;
    gap: 10px;
  }
  .tab {
    margin-right: 0;
    width: 420px;
    height: 46px;
  }
}

@media all and (max-width: 425px) {
  .tabs {
    margin-bottom: 18px;
    gap: 6px;
  }
  .tab {
    width: 250px;
    height: 35px;
    font-size: 14px;
  }
}
