.contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 150px;
  margin-top: 150px;
}

.contacts_unactive {
  display: none;
}

.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: #54647b;
  margin-left: 0px;
  margin-right: 0px;
}

.header {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 152%;
  color: #ffffff;
  margin: 0;
  margin-top: 130px;
  margin-bottom: 50px;
  margin-left: 35px;
}

.box {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin-bottom: 60px;
  margin-left: 50px;
  margin-right: 50px;
}

.box:last-of-type {
  margin-bottom: 130px;
}

.title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 152%;
  color: #ffffff;
  margin: 0;
}

.phones_list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  gap: 35px;
}

.li {
  width: 100%;
  display: flex;
  gap: 20px;
}

.icon {
  width: 50px;
  height: 50px;
}

.text {
  width: 80%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 152%;
  color: #ffffff;
  margin: 0;
}

.text a {
  text-decoration: none;
  color: inherit;
}

.text_box {
  width: 100%;
  display: flex;
  gap: 20px;
}

.map {
  width: 100%;
  height: 800px;
  border: 10px solid #e6e6e6;
  box-sizing: border-box;
  border-radius: 50%;
  margin-left: 30px;
}

@media all and (max-width: 768px) {
  .contacts {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: -180px;
    margin-top: 50px;
  }

  .contacts_unactive {
    display: none;
  }

  .container {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 300px;
  }

  .header {
    font-size: 30px;
    margin: 0;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 0px;
  }

  .box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 30px;
    margin-left: 0px;
    margin-right: 00px;
  }

  .box:last-of-type {
    margin-bottom: 50px;
  }

  .title {
    font-size: 20px;
    align-self: center;
  }

  .phones_list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    gap: 20px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .li {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .icon {
    width: 50px;
    height: 50px;
  }

  .text {
    width: 90%;
    font-size: 17px;
  }

  .text_box {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .map {
    width: 80%;
    position: relative;
    height: 650px;
    bottom: 250px;
    border: 10px solid #e6e6e6;
    box-sizing: border-box;
    border-radius: 50%;
    margin-left: 0px;
  }
}

@media all and (max-width: 600px) {
  .map {
    height: 550px;
  }
}

@media all and (max-width: 550px) {
  .contacts {
    margin-bottom: -200px;
    margin-top: 50px;
  }
  .map {
    height: 500px;
  }
  .icon {
    width: 40px;
    height: 40px;
  }

  .text {
    width: 90%;
    font-size: 14px;
  }
  .title {
    font-size: 17px;
    align-self: center;
  }
  .header {
    font-size: 26px;
    margin: 0;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 0px;
  }
}

@media all and (max-width: 500px) {
  .contacts {
    flex-direction: column;
    margin-bottom: 0px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .map {
    margin-top: 30px;
    width: 100%;
    bottom: 0px;
    height: 400px;
    bottom: 0;
    border-radius: 0;
  }
  .container {
    margin-left: 0;
    margin-right: 0;
    position: static;
    padding-bottom: 0;
  }
  .icon {
    width: 35px;
    height: 35px;
  }
  .text {
    width: 90%;
    font-size: 12px;
  }
  .title {
    font-size: 15px;
  }
  .header {
    font-size: 22px;
  }
}

@media all and (max-width: 375px) {
  .map {
    height: 300px;
  }
}